MQTT_HOST=localhost
MQTT_PORT=1883
MQTT_TOPIC=ucla/ce_mobile
MQTT_CONTROL_TOPIC=ucla/ce_controller
# MQTT_USERNAME=
# MQTT_PASSWORD=
CE_FIRST_LABEL=person
CE_SECOND_LABEL=gunshot
CE_WITHIN_SECONDS=30
