MQTT_HOST=localhost
MQTT_PORT=1883
MQTT_TOPIC=ucla/ce_mobile
MQTT_CONTROL_TOPIC=ucla/ce_controller
# MQTT_USERNAME=
# MQTT_PASSWORD=
CE_MIN_CONFIDENCE=0
CE_VISUALIZATION_URL=http://localhost:5000
CE_SESSION=default
MONGODB_URI=mongodb://localhost:27017
MONGODB_DATABASE=iobt_db
MONGODB_COLLECTION=event_history
